{% extends "base.html" %}
{% load static %}
{% block title %}achievements{% endblock %}
{% block achievementsactive %}active{% endblock %}
{% block body %}
    <div class="container text-md-center my-lg-5">

        <div class="d-grid gap-lg-2">
            <span class="d-block p-2 text-bg-dark">FIRST PRIZE AT WEBCON CONDUCTED BY SAVEETHA ENGINEERING COLLEGE</span>

        </div>
        <a href="https://1drv.ms/i/s!AppYLuntGjuVcczOCjZBSUs4PZg?e=kElwIS" class="btn btn-link">click to view certificate</a>



    <div class="d-grid gap-2">
        <span class="d-block p-2 text-bg-dark">JAPANESE LANGUAGE PROFICIENCY TEST(JLPT) N5 CERTIFICATE</span>
    </div>
    <a href="https://1drv.ms/i/s!AppYLuntGjuVcczOCjZBSUs4PZg?e=kElwIS" class="btn btn-link">click to view certificate</a>



    <div class="d-grid gap-2">
        <span class="d-block p-2 text-bg-dark">PARTICIPATION CERTIFICATE IN SECOND NATIONAL CONFERENCE ON INNOVATIONS IN ELECTRONICS AND COMMUNICATION SYSTEMS.</span>
        <h>FOREST FIRE DETECTION</h>
    </div>
    <a href="https://1drv.ms/i/s!AppYLuntGjuVcczOCjZBSUs4PZg?e=kElwIS" class="btn btn-link"> click to view certificate</a>

    <div class="d-grid gap-2">
        <span class="d-block p-2 text-bg-dark">PROGRAMING IN JAVA NPTEL CERTIFICATE</span>
    </div>
          <a href="https://1drv.ms/i/s!AppYLuntGjuVcczOCjZBSUs4PZg?e=kElwIS" class="btn btn-link">click to view certificate</a>


    </div>

{% endblock %}

